<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/linea">Graficas</a>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/linea">Linea</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/barras">Barras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/donas">Donas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/radar">Radar</a>
        </li>
      </ul>
  </nav>